@CHARSET "UTF-8";

.fielderror {
	background-color: #FFDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

ul.errordescription li {
	color: red;
	list-style-type: disc;
}

ul.errordescription {
}

.numberview div.ui-input-text {
	max-width: 7em;
}

.dateview div.ui-input-text {
	max-width: 10em;
}