@CHARSET "UTF-8";

#submitdialog {
	position: fixed;
	z-index: 100;
	top: 30%;
	left: 50%;
	margin: -140px 0 0 -142px;
	text-align: center;
}

[pageheader] {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0.6em;
	padding-bottom: 0.8em;
	border-left-width: 0;
	border-right-width: 0;
}

.formview {
	
}

.viewhidden {
	display: none;
}

.viewwitherror {
	background-color: #FFFF99;
	margin-bottom: 5px;
}

.errorfield {
	padding-top: 3x;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

.errorfield ul li {
	color: red;
	list-style-type: disc;
}

.errorheader {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.numberview div.ui-input-text {
	max-width: 7em;
}

.dateview div.ui-input-text {
	max-width: 10em;
}